.detail-container {
    flex-grow: 1;

    margin: 10px 10px 10px 40px;
    padding: 15px;

    flex-basis: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: none;
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.hidden {
    display: none;
    opacity: 0;
}

.appear {
    animation: fade-in 1s forwards;
    display: flex;
}

.disappear {
    animation: fade-out 1s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;
    }
}

.detail__description {
    padding: 10px;
    width: 100%;

    border-radius: 4px;

    background-color: white;
}

.detail__text {
    padding: 10px;
    width: 100%;

    flex-grow: 1;

    border-radius: 4px;

    background-color: white;

    font-size: 18px;

    resize: none;
    color: black;
    border: none;
    border-bottom: 2px solid #0000007e;
    outline: none;
}