.header__title {
    color: white;
}

.back-btn {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: large;

    /* box-sizing: content-box; */

    background-color: gray;
    color: white;
}
