<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/todo.css">
    <link rel="stylesheet" href="../static/css/item.css">
    <link rel="stylesheet" href="../static/css/detail.css">
    <link rel="stylesheet" href="../static/css/drag.css">



    <title>Document</title>
</head>

<body>


    <div class="main-container">
        <nav class="main-navbar">
            <p>To-List</p>
            <p>History</p>
        </nav>

        <header class="main-header">
            <h1 class="header__title">오늘도 힘내보자</h1>

            <div class="header__input">
                <input id="create-text" type="text" placeholder="">
                <button id="create-btn" class="btn" style="
                position: relative;
                left: -30px;">
                    Add task
                </button>
            </div>

            <button class="back-btn btn">Back</button>

        </header>


        <div class="main-body">

            <div id="todo" class="todo-container container">
                <h3 class="todo__title">To-Do</h3>
                <div id="todo-list" class="todo__items">
                </div>
            </div>

            <div id="doing" class="todo-container container">
                <h3 class="todo__title">Doing</h3>
                <div id="doing-list" class="todo__items">
                </div>
            </div>

            <div id="done" class="todo-container container">
                <h3 class="todo__title">Done</h3>
                <div id="done-list" class="todo__items">
                </div>
            </div>

            <div id="todo-detail" class="detail-container hidden">
            </div>


        </div>

        <script src="../static/js/main.js" type="module"></script>
        <script src="../static/js/drag.js" type="module"></script>
        <script src="../static/js/header.js"></script>
    </div>

</body>

</html>